.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.block {
    max-width: 392px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__logo {
        width: 48px;
        height: 48px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    
    &__rom {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}