.footer {
  display: flex;
  flex-direction: column;

  &__top {
    padding: 48px 0;
    background: $gray-50;
  }

  &__center {
    border-bottom: 1px solid $gray-200;
    padding: 64px 0;
  }

  &__link {
    display: flex;
    align-items: center;
    max-width: 142px;
    width: 100%;
    position: relative;
  }

  &__logo {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &__bottom {
    padding: 32px 0 48px 0;
  }
}