.breadcrumb {
    max-width: 1344px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;

    & ul {
        align-items: center;
        display: flex;
        gap: 6px;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}